.location {
	margin-bottom: 100px;
  &__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 10px;
  }
  &__wrapper {
    max-width: 410px;
  }
  &__box {
  }
  &__title {
    margin-bottom: 30px;
  }
  &__desc {
    font-size: 14px;
    line-height: 180%;
    color: #bcc1c9;
    margin-bottom: 48px;
  }
  &__more-detailed {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
		margin-bottom: 30px;
  }
  &__advantages {
		display: flex;
		gap: 50px;
  }
  &__image {
  }
}

.location-more-detailed {
  &__item {
    display: flex;
    align-items: center;
    gap: 11px;
  }
  &__item-ico {
  }
  &__item-text {
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 18px;
  }
}
