.contacts {
  &__container {
  }
  &__title {
    margin-bottom: 30px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__data {
  }
  &__btns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end;
  }
  &__btns-box {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  &__link {
		font-family: var(--font-title);
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: var(--accent);
  }
  &__btn {
  }
}
.container {
}

.contacts-data {
  &__items {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
  }
  &__item {
		min-width: 280px;
  }
  &__item-link {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 20px;
		color: white;
  }
  &__item-ico {
  }

  &__item-text {
    font-family: var(--font-title);
    font-weight: 500;
    font-size: 18px;
  }
  &__item-desc {
    font-size: 14px;
    line-height: 180%;
    color: #bcc1c9;
  }
  &__address {
    width: 100%;
    max-width: 530px;
    & > * {
      font-weight: 400;
      font-size: 18px;
      line-height: 180%;
      color: #bcc1c9;

      & > span {
        font-weight: 500;
        color: white;
      }
    }
  }
}
