:root {
	--container-width: 1210px;
	--container-padding: 15px;

	--font-main: 'Inter', sans-serif;
	--font-title: 'Montserrat', sans-serif;
	--font-secondary: 'Playfair Display', serif;

	--content-bg: black;
	--border: 5px;
	--radius: 12px;

	--page-bg: #202D45;
	--text-color: white;
	--accent: #E5BF9B;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}