.mobile-nav {
  position: fixed;
	opacity: 0;
	visibility: hidden;
	width: 100%;
	height: 100%;
	z-index: 80;
	backdrop-filter: blur(80px);
	background: rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;



	&__content {
		position: fixed;
		left: -100%;
		display: flex;
		flex-direction: column;
		gap: 70px;
		max-width: 301px;
		height: 100%;
		
		background-color: #fff;
		transition: all 0.3s ease;

		&.header-padding {
			padding: 120px 40px 40px 20px;
		}
		&.footer-padding {
			padding: 40px 40px 40px 20px;
		}
	}
}

.mobile-nav.active {
	opacity: 1;
	visibility: visible;
	& > .mobile-nav__content {
		left: 0;
	}
}

.mobile-nav a {
  font-weight: 400;
  font-size: 16px;
  color: #313131;
}

.logo-mobile {
}

.mobile-nav__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  row-gap: 20px;
  font-size: 28px;
}

.mobile-link-phone {
	display: flex;
	align-items: center;
	gap: 12px;

	&__img {
		&._pulse {
      position: relative;
      width: 42px;
      height: 42px;

      &::after,
      &::before {
        position: absolute;
        content: "";
        border: 1px solid var(--accent);
        top: -10px;
        right: -10px;
        bottom: -10px;
        left: -10px;
        border-radius: 50%;
        opacity: 0;
        animation: pulse 3s infinite;
      }

      &::after {
        animation-delay: 2s;
      }
    }
	}
	&__numb {
		font-weight: 500;
    font-size: 18px;
    color: #313131;
	}
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
